body {
    
}


/* main container*/
.main-container {
        max-width: 100%;
}

/* backgroundimage */

.header-background-image {
    background-image: url(/img/coco.jpg);
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

/*nav bar*/
.nav-bar {
    padding: 0 3%;
}

.navbar-img {
    width: 80%;
}

/*tit container*/
.title-container


/*choose-your-recipe*/
.choose-your-recipe



/*feature-recipe*/
.feature-recipe
{
    max-width: auto;
}




/*footer*/
.footer