body 


/* main container*/
.main-container {
    max-width: 100%;
}

/* backgroundimage */

.header-background-image {
    background-image: url(/img/coco.jpg);
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

/*nav bar*/
.nav-bar {
    padding: 0 3%;
}

.navbar-img {
    width: 80%;
}

/*tit container*/
.title-container

/*choose-your-recipe*/
.choose-your-recipe {
    margin-left: 5%;
    margin-top: 5%;
}

.tryoutourrecipes-title {
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    color: #ff7b54;
    text-align: center;
    text-decoration: solid underline black 2px;
}

.dietstext {
    margin-right: 2%;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    color: #ff7b54;
}

.button {
    border: 2px solid #ff7b54;
    color: white;
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    background-color: #ff7b54;   
    margin-top: 2%;                         
}

.button:hover {
    background: white;
    color:#ff7b54;
}


/*feature-recipe*/

.container{
    max-width: auto;
    max-height: auto;
}

.row{
    max-width: auto;
}

.col {
    max-width: auto;
    margin-bottom: 1.5rem;
}

.card {
    max-width: auto;
}

.plate-image {
    width: 18rem;
    height: 18rem;
}

.card-body{
    max-width: auto;
}

.card-text{
    align-content: center;
    justify-content: center;
}

.card-title{
    align-content: center;
    justify-content: center;
}

.btn-primary{
    background-color: #ff7b54;
    border: 0;
}


/*footer*/
